s3fs==2021.8.0
feast[aws]==0.12.1
scikit-learn==0.24.2
streamlit==0.88.0
matplotlib==3.4.3
shap==0.39.0
pandas>=1.0.0

# credit_history_table = "credit_history"
# redshift_cluster_identifier = "my-feast-project-aws-redshift-cluster"
# redshift_spectrum_arn = "arn:aws:iam::299467553798:role/s3_spectrum_role"
# zipcode_features_table = "zipcode_features"

